.detalle-contenedor {
  text-align: center;
}

.detalle-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #0283a3;
  border: 1px solid #00ffff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 0 15px #051df7;
  border-radius: 10px;
  font-size: 24px;
  color: #f0f2f7;
  gap: 40px;

}

.detalle-card h2 {
  margin: 0;
}

.detalle-card p {
  margin: 10px 0;
  font-family: 'Calibri', sans-serif;
  font-size: 24px;
}

.titulo-producto {
  font-size: 40px;
  font-weight: bold;
  color: #000000;

  text-shadow:
    0 0 5px #05dbf7,
    0 0 10px #05dbf7,
    0 0 20px #05dbf7,
    0 0 40px #05dbf7,
    0 0 60px #05dbf7;
}


.detalle-img {
  width: 350px;
  height: 350px;
  object-fit: contain;
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.contador button {
  width: 30px;
  height: 30px;
  border: none;
  background: #055b75;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.contador span {
  font-size: 15px;  
  font-weight:  bold;
}

.btn-carrito {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 50%;
  padding: 10px;
  background: #00c853;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.btn-carrito:hover {
  background: #009624;
}


/* IMAGEN */
.detalle-izquierda {
  flex: 1;
}

.detalle-img {
  width: 100%;
  max-width: 300px;
}

.detalle-derecha {
  flex: 2;
}