.footer {
  background: #140133;
  padding: 20px;
}

.footer-content {
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-family: "calibri";
  color: whitesmoke;
}
