
body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #0f172a;
  color: #00ffff;
}

/* Glow effect */
.glow {
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

a {
  color: #ff00ff;
  text-decoration: none;
}

a:hover {
  color: #00ffff;
}


html, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* 🔥 empuja el footer abajo */
}


